.breadcrumb {
    max-width: 874px;
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    list-style: none;
    margin: 70px auto 0 auto;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0 18px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

    a {
        font: normal 400 14px $Zilla;

        &--link {
            font: normal 600 14px $Zilla;
            text-decoration: none;
        }

        &__icon {
            width: 16px;
            height: 16px;
        }
    }
}

/*****************************************/

.single-work__header {
    max-width: 874px;
    width: 100%;
    height: 158px;
    margin: 0 auto;

    @media screen and (min-width: 456px) and (max-width: 920px) {
        padding: 0 18px;
    }

    @media screen and (max-width: 455px) {
        margin-top: 45px;
    }
}

.single-work {
    max-width: 874px;
    width: 100%;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 920px) {
        padding: 0 18px;
    }

    h2 {
        width: 677px;
        height: 45px;
        font: normal 700 34px $Montserrat;
        line-height: 41px;
        color: $darkColor;
        margin-top: 40px;
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 32px;
        width: 677px;
        height: 29px;
        font: normal 700 30px $Montserrat;
        line-height: 37px;
        color: $darkColor;
    }

    &__text {
        width: 874px;
        height: 48px;
        margin: 24px 0px 32px 0px;
        font: normal 400 16 $Zilla;
        line-height: 150%;
        color: $blackColor;

    }
}
