/* FONTS */

$Montserrat: 'Montserrat', sans-serif;
$Zilla: 'Zilla Slab', serif;
$Heebo: 'Heebo', sans-serif;

/* COLORS */

$darkColor: #21243D;
$actionColor: #FF6464;
$blackColor: #000;
$whiteColor: #fff;
$greyColor: #8695A4;
$skillsDotColor: #142850;
$borderColor: #E0E0E0;